@import "./variables";
@import "bootstrap/scss/bootstrap";

blockquote {
  padding-left: 8px;
  border-radius: 8px;

  background-color: $primary;

  margin-bottom: 4px;
  margin-top: 4px;
  padding-top: 4px;
  padding-bottom: 4px;

  code {
    color: inherit !important;
  }
}

ol,
ul,
dl {
  margin-bottom: 0;
}
